body{
    background-color:
#f6f4f0;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-synthesis: none;
}
#overview{
    width: 80%;
    margin: 50px auto; 
    background-color: white;   
}
#icon{
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family)
}
#icon>a{
    text-decoration: none;
    color:#5f82e4 ;
}
#imageGallary{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2px;
    grid-template-areas: 
    "first first second forth"
    "first first third last";
    /* border: 1px solid red; */
}
#imageGallary>div:first-child{
    grid-area: first;
}
#imageGallary>div:nth-child(2){
    grid-area: second;
}
#imageGallary>div:nth-child(3){
    grid-area: third;
}
#imageGallary>div:nth-child(4){
    grid-area: forth;
}
#imageGallary>div:last-child{    
    grid-area: last;
    position: relative;
}
#imageGallary img{
    width: 100%;
    height: 100%;    
}
#imageGallary>div:last-child>button{
    position: absolute;
    width: 32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 20px;
    right: 20px;
    padding: 5px 15px;
    background-color:rgba(0, 11, 38, 0.56);
    color: white;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}
#imageGallary>div:last-child>button:hover{
    background-color: rgb(58, 57, 57);
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-size: 14px; 
    font-weight: 600;  
}
#menu>div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu>div>div:hover{
    color: #3662d8;
    cursor: pointer;
}
#menu>button{
    padding: 10px;
    color: white;
    background-color: #3662d8;
    margin: 4px 15px ;
    border: none;
    border-radius: 10px;
    font-size: 16px;   
    padding: 10px 16px;
}
#menu>button:hover{
    background-color: 
    
#037bff;
}
#details{
    width: 95%;
    margin: 20px auto;
    padding: 0px 0px 30px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
}
#details h3{
    margin: 30px 0px 10px;
}
#description>p{
    margin:0px 0px 10px;
}
#description>a{
    text-decoration: none;
    color: #3662d8;
}
#amenities, 
#cleaningSafety,
#explore{
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#amenities>div, 
#cleaningSafety>div,
#explore>div{
    display: flex;
    align-items: center;
    margin: 5px 0px ;
}
#amenities>div>i,
#cleaningSafety>div>i,
#explore>div>i{
    margin: 5px 10px 0px 0px;
}
#map{
    width: 31%;
}
#googleMap{
    width: 100%;
    border-radius: 10px;
}
#explore{    
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#explore>div:nth-child(odd){
    display: flex; 
    align-items: center;   
}
#explore>div:nth-child(even){
    display: flex;
    justify-content: flex-end;
}
#chooseTime, #chooseHead{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
}
#chooseHead>h1{
    margin: -20px 0px 10px;
}
#chooseTime>button{
    font-size: 16px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
}
#chooseTime>button:first-child,
#chooseTime>button:nth-child(2){
    width: 15%;
}
#chooseTime>button:nth-child(3){
    width: 40%;
}
#chooseTime>button:last-child{
    width: 26%;
    background-color: #3662d8 ;
    color: white;
    font-weight: 500;
}

